In [ ]:
a. far inserire all'utente due valori interi

In [56]:
x = int(input ("inserire primo valore intero "))
y = int(input ("inserire secondo valore intero "))

inserire primo valore intero 12
inserire secondo valore intero 4

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [57]:
som = x + y
sot = x - y
mol = x*y
div = x / y 
print("som: "+ str(x + y))
print("sot: "+ str(x - y))
print("mol: "+ str(x * y))
print("div: "+ str(x / y))

som: 16
sot: 8
mol: 48
div: 3.0

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [58]:
pow(x,y)

20736

In [ ]:
d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [59]:
x % y

0

f. effettuare la divisione intera tra il primo e il secondo numero

In [60]:
x // y

3

g. incrementare di una unità entrambi i numeri

In [61]:
x = x + 1
y = y + 1
print(x,y)

13 5

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [81]:
altezza = float(input ("inserire l' altezza:" ) )
peso  = int(input ("inserire il peso :  "))
IMC = peso/pow(altezza/100,2)
print(IMC)

inserire l' altezza:799
inserire il peso :  291
4.55826353655461

In [ ]:
i. arrotondare l'IMC precedente

In [82]:
print(round(IMC))

5

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [84]:
print("Sebastian-" "Cilibeanu-" "26/11/2005-" "Sesto San Giovanni")

Sebastian-Cilibeanu-26/11/2005-Sesto San Giovanni

k. visualizzare le stesse informazioni per 10 volte di seguito

In [88]:
print("Sebastian-" "Cilibeanu-" "  26/11/2005-" "Sesto San Giovanni  " *   10   )

Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni  Sebastian-Cilibeanu-  26/11/2005-Sesto San Giovanni

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [89]:
Name = "Sebastian"
Cognome = "Cilibeanu"
print(Nome.upper)

NameError: ignored