a. far inserire all'utente due valori interi

In [ ]:
x = int(input ("inserire primo valore intero: "))
y = int(input ("inserire secondo valore intero: "))

inserire primo valore intero: 23
inserire secondo valore intero: 45

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
som = x + y
sot = x - y
mol = x*y
div = x / y 
print(x, "+",y, "=", str(x+y))
print(x, "-",y, "=", str(x-y))
print(x, "*",y, "=", str(x*y))
print(x, "/",y, "=", str(x/y))

23 + 45 = 68
23 - 45 = -22
23 * 45 = 1035
23 / 45 = 0.5111111111111111

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
pow(x,y)

18956258430116202791319715713277227626159289499745290235663543

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
x % y

23

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
x // y

0

g. incrementare di una unità entrambi i numeri

In [ ]:
x = x + 1
y = y + 1
print(x,y)

24 46

In [ ]:
x += 1
y += 1
print(x,y)

25 47

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
altezza = float(input ("inserire l' altezza in centimetri:" ) )
peso  = int(input ("inserire il peso in chilogrammi :  "))
IMC = peso/pow(altezza/100,2)
print(IMC)

inserire l' altezza in centimetri:456
inserire il peso in chilogrammi :  450

In [ ]:
i. arrotondare l'IMC precedente

In [ ]:
IMCarrontondato = round(IMC)
print(IMCarrontondato)

22

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
datadinascita = "26/11/05"
cittadinascita = "MILANO"

print(nome,cognome,datadinascita,cittadinascita,  sep="-")

Sebastian-Cilibeanu-26/11/05-MILANO

k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
informazioni =  nome + ' ' + cognome + datadinascita + cittadinascita +"\n"
print(informazioni *10)

Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO
Sebastian Cilibeanu26/11/05MILANO

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
print(nome.upper())
print(cognome.upper())

SEBASTIAN
CILIBEANU

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
print(nome.title())
print(cognome.title())

Sebastian
Cilibeanu

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
print("La lunghezza di '%s' è" %nome,len(nome),"lettere")
print("La lunghezza di '%s' è" %cognome,len(cognome),"lettere")

La lunghezza di 'Sebastian' è 9 lettere
La lunghezza di 'Cilibeanu' è 9 lettere

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [ ]:
string = "sebastian cilibeanu"
contatoe = 0
vocali = set('aeiou')
#per ogni lettera presente nella stringa trasformata tutta in minuscolo
for lettera in string.lower():
  if lettera in vocali:
    contatore+= 1
    
  print(contatore)

27
28
28
29
29
29
30
31
31
31
31
32
32
33
33
34
35
35
36

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
print("Le prime cinque lettere del nome: ", nome[ :5])
print("Le prime cinque lettere del cognome: ", cognome[ :5])

Le prime cinque lettere del nome:  Sebas
Le prime cinque lettere del cognome:  Cilib

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
print("Le ultime cinque lettere del nome: ", nome[ -5 :])
print("Le ultime cinque lettere del cognome: ", cognome[- 5 :])

Le ultime cinque lettere del nome:  stian
Le ultime cinque lettere del cognome:  beanu

r.assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [ ]:
nome = "Sebastian"
cognome = "Cilibeanu"
print("Le centrali cinque lettere del nome: ", nome[2:7])
print("Le centrali cinque lettere del cognome: ", cognome[2:7])

Le centrali cinque lettere del nome:  basti
Le centrali cinque lettere del cognome:  libea