1. caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv'

df =  pd.read_csv(url)
df

,Indirizzo,Telefono,Fax,CAP,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,BASTIONI DI PORTA VOLTA 7,02-6572655,02-29002004,20121,1,2,BRERA,9.182151,45.479601,(45.47960100000006;9.182151000000033)
1,CORSO DI PORTA VIGENTINA 35,02-58320771,02-58319779,20122,1,5,PORTA VIGENTINA - PORTA LODOVICA,9.196520,45.452538,(45.45253800000006;9.196519500000022)
2,CORSO ITALI 16,02-804336,02-86454450,20122,1,1,DUOMO,9.187470,45.457893,(45.45789300000007;9.187470000000076)
3,CORSO SEMPIONE 94,NaN,NaN,20154,8,69,SARPI,9.158508,45.486540,(45.48654000000005;9.15850800000004)
4,CORSO VENEZIA 42,02-76023056,02-7837251,20121,1,4,GUASTALLA,9.202703,45.471861,(45.47186100000005;9.202702500000044)
...,...,...,...,...,...,...,...,...,...,...
77,VIALE GORIZIA 6,02-8358241,02-8373830,20144,6,44,PORTA TICINESE - CONCHETTA,9.173156,45.454518,(45.454518000000064;9.173155500000064)
78,VIALE MONTE CENERI SNC,02-32671911,02-32671947,20155,8,71,VILLAPIZZONE - CAGNOLA - BOLDINASCO,9.153592,45.491568,(45.49156751800007;9.153591732000052)
79,VIALE SABOTINO 21/A,02-58457911,02-58457947,20135,5,27,PTA ROMANA,9.200174,45.451017,(45.451017000000036;9.200173500000062)
80,VIALE SAN GIMIGNANO 10,02-41411311,02-41411347,20146,6,52,BANDE NERE,9.136526,45.455868,(45.455868000000066;9.136525500000062)
81,VIALE ZARA 131,02-69911111,02-69911147,20159,9,12,MACIACHINI - MAGGIOLINA,9.196686,45.500193,(45.50019300000008;9.196686000000057)

2. visualizzare solo la prima colonna

In [ ]:
df.iloc[:,[0]]

                      Indirizzo
0     BASTIONI DI PORTA VOLTA 7
1   CORSO DI PORTA VIGENTINA 35
2                CORSO ITALI 16
3             CORSO SEMPIONE 94
4              CORSO VENEZIA 42
..                          ...
77              VIALE GORIZIA 6
78       VIALE MONTE CENERI SNC
79          VIALE SABOTINO 21/A
80       VIALE SAN GIMIGNANO 10
81               VIALE ZARA 131

[82 rows x 1 columns]

3. visualizzare solo l'ultima colonna

In [ ]:
df.iloc[:,[-1]]

                                  Location
0    (45.47960100000006;9.182151000000033)
1    (45.45253800000006;9.196519500000022)
2    (45.45789300000007;9.187470000000076)
3     (45.48654000000005;9.15850800000004)
4    (45.47186100000005;9.202702500000044)
..                                     ...
77  (45.454518000000064;9.173155500000064)
78   (45.49156751800007;9.153591732000052)
79  (45.451017000000036;9.200173500000062)
80  (45.455868000000066;9.136525500000062)
81   (45.50019300000008;9.196686000000057)

[82 rows x 1 columns]

4. visualizzare le colonne dalle terza alla quinta

In [ ]:
df[df.columns[2:6]]

            Fax    CAP  MUNICIPIO  ID_NIL
0   02-29002004  20121          1       2
1   02-58319779  20122          1       5
2   02-86454450  20122          1       1
3           NaN  20154          8      69
4    02-7837251  20121          1       4
..          ...    ...        ...     ...
77   02-8373830  20144          6      44
78  02-32671947  20155          8      71
79  02-58457947  20135          5      27
80  02-41411347  20146          6      52
81  02-69911147  20159          9      12

[82 rows x 4 columns]

5. visualizzare la terza e la sesta colonna

In [ ]:
df.iloc[:,[2,5]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [ ]:
df[['Indirizzo','MUNICIPIO']]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]


7. visualizzare la prima riga

In [ ]:
df.head(1)

8. visualizzare l'ultima riga

In [ ]:
df.tail(1)

9. visualizzare la riga centrale

In [ ]:
df.tail.mean()

TypeError: ignored

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[3,4,12]]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df.iloc[10:16]

,Indirizzo,Telefono,Fax,CAP,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
10,VIA ALFREDO CAPPELLINI 17/19,02-6773311,02-67733147,20124,2,10,STAZIONE CENTRALE - PONTE SEVESO,9.201735,45.481950,(45.48195000000004;9.201735000000042)
11,VIA ANDREA VOCHIERI 12,02-66200116,02-66203094,20161,9,80,AFFORI,9.168683,45.514143,(45.51414300000005;9.168682500000045)
12,VIA APPENNINI 77/A,02-3535414,02-3538072,20151,8,65,Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO,9.104292,45.502074,(45.50207400000005;9.104292000000044)
13,VIA ARQUA' 14,02-26141687,02-26825342,20131,2,20,LORETO - CASORETTO - NOLO,9.227714,45.492876,(45.49287600000008;9.22771350000005)
14,VIA BENOZZO GOZZOLI 51,02-48945239,02-48945202,20152,7,55,BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA,9.090990,45.455607,(45.45560700000004;9.090990000000033)
15,VIA BOVISASCA 173,02-3573683,02-39000632,20161,9,81,BOVISASCA,9.152855,45.519456,(45.519456269000045;9.152854782000077)

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df.loc[10:16,["Indirizzo","NIL"]]

,Indirizzo,NIL
10,VIA ALFREDO CAPPELLINI 17/19,STAZIONE CENTRALE - PONTE SEVESO
11,VIA ANDREA VOCHIERI 12,AFFORI
12,VIA APPENNINI 77/A,Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13,VIA ARQUA' 14,LORETO - CASORETTO - NOLO
14,VIA BENOZZO GOZZOLI 51,BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15,VIA BOVISASCA 173,BOVISASCA
16,VIA BRONZINO 7,BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.loc[[3,5,12], ["Telefono","Fax"]]

       Telefono          Fax
3           NaN          NaN
5   02-47714011  02-47714047
12   02-3535414   02-3538072

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[3:10, 2:6]

           Fax    CAP  MUNICIPIO  ID_NIL
3          NaN  20154          8      69
4   02-7837251  20121          1       4
5  02-47714047  20146          6      49
6  02-42255247  20146          6      49
7   02-3271232  20148          8      66
8  02-37790947  20158          9      78
9  02-26680123  20131          3      22


15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [ ]:
df[df["Indirizzo"].str.contains("PIAZZA NAPOLI")].Telefono

6    02-42255211
Name: Telefono, dtype: object

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [ ]:
df.loc[df["NIL"].str.contains("NIGUARDA"),["Indirizzo","Telefono"]]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

In [ ]:
df.loc[(df["MUNICIPIO"] == 1) | (df["MUNICIPIO"] == 3),["Indirizzo","Telefono"]]

                      Indirizzo     Telefono
0     BASTIONI DI PORTA VOLTA 7   02-6572655
1   CORSO DI PORTA VIGENTINA 35  02-58320771
2                CORSO ITALI 16    02-804336
4              CORSO VENEZIA 42  02-76023056
9                 VIA ADELCHI 2   02-2665192
16               VIA BRONZINO 7  02-29527423
22               VIA CORDUSIO 4  02-72482126
25             VIA DELL'ORSO 11  02-80277311
26         VIA DELLA MOSCOVA 30          NaN
27                VIA DURAZZO 5  02-21040511
30     VIA FESTA DEL PERDONO 10  02-58207833
38       VIA GIOSUE' CARDUCCI 7  02-85917111
40       VIA GIUSEPPE PECCHIO 1          NaN
49      VIA MAZZINI GIUSEPPE 15  02-86396911
55                VIA ORTICA 19  02-70061332
64       VIA ROSOLINO PILO 19/A   02-2046789
66               VIA SAMBUCO 15  02-89405932
68        VIA SAN SIMPLICIANO 5  02-86396811
69            VIA SANTA SOFIA 8  02-58318572
72                  VIA VIGNA 6  02-86396711
73        VIALE ANDREA DORIA 48   02-2047169

18. visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [ ]:
df.loc[(df)["Telefono"].isnull()) | (df["Fax"].isnull())]

SyntaxError: ignored


19. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL)

In [ ]:
df.groupby("NIL")["Indirizzo"].count().sort_values

<bound method Series.sort_values of NIL
ADRIANO                                                        1
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
BANDE NERE                                                     1
BOVISASCA                                                      1
BRERA                                                          4
BRUZZANO                                                       1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
CITTA' STUDI                                                   1
CORSICA                                                        1
DE ANGELI - MONTE ROSA                                         1
DERGANO                                                        1
DUOMO                                                          7
FARINI                                                         1
FORZE ARMATE                                                   2
GIAMBELLINO                                                    3
GORLA - PRECOTTO                                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
GRECO - SEGNANO                                                1
GUASTALLA                                                      1
ISOLA                                                          3
LAMBRATE - ORTICA                                              1
LODI - CORVETTO                                                1
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
MONCUCCO - SAN CRISTOFORO                                      1
MONLUE' - PONTE LAMBRO                                         1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
PAGANO                                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA GENOVA                                                   1
PORTA MAGENTA                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA TICINESE - CONCHETTA                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PTA ROMANA                                                     1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QT 8                                                           1
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
QUINTO ROMANO                                                  1
ROGOREDO - SANTA GIULIA                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
SAN SIRO                                                       1
SARPI                                                          2
SCALO ROMANA                                                   1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
STAZIONE CENTRALE - PONTE SEVESO                               1
TIBALDI                                                        2
UMBRIA - MOLISE - CALVAIRATE                                   1
VIGENTINO - Q.RE FATIMA                                        1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
XXII MARZO                                                     2
Name: Indirizzo, dtype: int64>

20. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL). Ordinare a partire dal NIL che ha più uffici in giù

In [ ]:
df.groupby("NIL")["Indirizzo"].count().sort_values(ascending = False)

NIL
DUOMO                                                          7
BRERA                                                          4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
ISOLA                                                          3
GIAMBELLINO                                                    3
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
FORZE ARMATE                                                   2
XXII MARZO                                                     2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
TIBALDI                                                        2
SARPI                                                          2
GORLA - PRECOTTO                                               1
GUASTALLA                                                      1
GRECO - SEGNANO                                                1
BANDE NERE                                                     1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
CITTA' STUDI                                                   1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
FARINI                                                         1
BRUZZANO                                                       1
DERGANO                                                        1
DE ANGELI - MONTE ROSA                                         1
LAMBRATE - ORTICA                                              1
CORSICA                                                        1
BOVISASCA                                                      1
MONCUCCO - SAN CRISTOFORO                                      1
LODI - CORVETTO                                                1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
VIGENTINO - Q.RE FATIMA                                        1
UMBRIA - MOLISE - CALVAIRATE                                   1
STAZIONE CENTRALE - PONTE SEVESO                               1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
SCALO ROMANA                                                   1
SAN SIRO                                                       1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
ROGOREDO - SANTA GIULIA                                        1
QUINTO ROMANO                                                  1
QT 8                                                           1
PTA ROMANA                                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PORTA TICINESE - CONCHETTA                                     1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA MAGENTA                                                  1
PORTA GENOVA                                                   1
PORTA GARIBALDI - PORTA NUOVA                                  1
PAGANO                                                         1
MONLUE' - PONTE LAMBRO                                         1
ADRIANO                                                        1
Name: Indirizzo, dtype: int64

21. visualizzare i municipi che hanno più di 15 uffici postali

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1.loc[df1["Indirizzo"] >15]["Indirizzo"]

Series([], Name: Indirizzo, dtype: int64)

22. visualizzare il municipio che ha più uffici postali

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1[df1["Indirizzo"]==df1["Indirizzo"].max()]

,Indirizzo,Telefono,Fax,CAP,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
MUNICIPIO,,,,,,,,,
1,14,13,13,14,14,14,14,14,14

23. visualizzare il municipio che ha meno uffici postali

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1[df1["Indirizzo"]==df1["Indirizzo"].min()]

,Indirizzo,Telefono,Fax,CAP,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
MUNICIPIO,,,,,,,,,
3,7,6,6,7,7,7,7,7,7
4,7,7,7,7,7,7,7,7,7
5,7,7,7,7,7,7,7,7,7

24. visualizzare il numero medio di uffici postali in ogni municipio

In [ ]:
mean = df.groupby("MUNICIPIO")["Indirizzo"].count().mean()
mean

9.11111111111111

25. visualizzare i municipi che hanno un numero di uffici postali superiore alla media

In [ ]:
df1 = df.groupby("MUNICIPIO").count()
df1[df1["Indirizzo"] > mean]

,Indirizzo,Telefono,Fax,CAP,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
MUNICIPIO,,,,,,,,,
1,14,13,13,14,14,14,14,14,14
9,13,12,12,13,13,13,13,13,13

26. eliminare tutti i record relativi al NIL di Niguarda

In [ ]:
df

2

27. eliminare le ultime tre colonne

In [ ]:
df = df.iloc[:, :-3]
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]

[81 rows x 0 columns]

28. eliminare i record di cui non si conosce il numero di telefono o il fax

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

30. sostituire il trattino presente nei numeri di telefono con il carattere /